<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; Colie4sure <%= Date.today.year %></div>
      <div>
        <%= link_to "Privacy Policy", privacy_path %>
        &middot;
        <%= link_to "Terms", terms_path %>
      </div>
    </div>
  </div>
</footer>
