
<div class="container-fluid mt-3">
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
      <li class="breadcrumb-item active">Ticking & License Portal / Edit</li>
  </ol>

    <div class="card mb-12">
    <div class="card-body width">
     <h4 class="bg-light text-dark p-2"> <i class="fas fa-edit"></i> Edit Car</h4>
    <hr>
    <%= render 'form', garage: @garage %>

    </div>

    </div>
</div>
