<div class="card mb-4" >
    <div class="card-body">
      <span class="badge badge-danger">ADVANCED FINES & LICENSE PORTAL</span> | We are linked to various fines systems, proactively checking and pulling both new and old fines into our system.
    </div>
</div>
