<div class="container-fluid mt-3">
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Ticking & License Portal / License Renewal</li>
  </ol>
  <div class="card mb-12">
    <div class="card-body width">
      <div class="row">
        <div class="col-sm-12 bg-light p-3">
          <h4> <i class="far fa-copy"></i> License Renewal</h4>
        </div>
        <%=render 'license_renewal/templates/content'%>

      </div>
      <br>
    </div>
  </div>
